@import "../common/base";

.aet-contact-boxes {
  padding: 2rem;
  justify-content: center;

  .aet-contact-box {
    margin: 1rem;
    background-color: $aet-color-blue;
    flex-direction: column;

    a {
      display: flex;
      flex-direction: column;

      &:hover {
        text-decoration: none;
        color: $aet-color-blue;
      }
    }

    &:hover, &:hover .aet-contact-box-title{
      background-color: $aet-color-black;
      color: $aet-color-blue;
    }

    &:hover .aet-contact-box-icon {
      transform: scale(0.8);
      transition: transform 0.2s, opacity 0.2s;
    }

    &-title {
      @extend %aet-heading-5;
      background-color: $aet-color-white;
      margin: 0;
      padding: 1rem 0;
      text-align: center;
    }

    &-icon {
      padding: 2rem;
      font-size: 8rem;
      text-align: center;
    }
  }
}

.aet-skill-boxes {
  padding: 2rem;
  justify-content: center;

  .aet-skill-box {
    margin: 1rem;
    padding: 50px;
    min-height: 10rem;
    background-color: $aet-color-black;
    justify-content: center;
    align-items: center;
    text-align: center;

    %text {
      font-family: Maven Pro;
      font-size: 1em;
      line-height: 1em;
    }

    &-title {
      display: block;
      color: $aet-color-grey;
      @extend %text;
    }

    &-rating {
      display: none;
      color: $aet-color-white;
      @extend %text;
    }

    &:hover {
      background-color: $aet-color-blue;
      color: $aet-color-blue;
    }

    &:hover .aet-skill-box-rating {
      display: block;
    }

    &:hover .aet-skill-box-title {
      display: none;
    }
  }
}

.aet-aboutme-boxes {
  justify-content: center;

  .aet-aboutme-box {
    margin: 1rem;
    padding: 1rem 0;
    align-items: center;
    flex-direction: column;
    background-color: $aet-color-blue;
    color: $aet-color-grey;

    &-title {
      @extend %aet-heading-4;
      margin: 0 0 1rem 0;
    }

    &-icon {
      padding-bottom: 1rem;
      font-size: 5rem;
    }

    &-text {
      text-align: center;
    }
  }
}
