@import "../common/base";

.aet-footer {
  height: 15rem;
  padding: 3rem 0;
  background-color: $aet-color-dark-blue;
  color: $aet-color-white;

  a {
    color: $aet-color-grey;

    &:hover {
      text-decoration: underline;
    }
  }

  &-box {
    @include aet-gt-phone {
      justify-content: center;
    }

    @include aet-phone {
      margin: 1rem 0;
    }
  }
}