@import "../common/base";

.aet-main-header {
  height: 20rem;
  border-bottom: 10px solid $aet-color-blue;
  background-image: url("images/header_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include aet-phone {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-title {
    @extend %aet-heading-2;
    margin: 0;
    color: $aet-color-grey;
  }
}