@import "../common/base";

.aet-main-header {
  height: 20rem;
  border-bottom: 10px solid $aet-color-blue;
  background-image: url("images/header_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;

  &-title {
    @extend %aet-heading-1;
    margin: 0;
    font-family: Jura;
    color: $aet-color-grey;
  }
}