/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
/************************************************************/
/* CLASSES */
/************************************************************/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.0rem;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 17px;
  }
}

p, span, li {
  line-height: 1.4em;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
p:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  h1, .aet-main-header-title {
    font-size: 7rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.50rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  h1, .aet-main-header-title {
    font-size: 5.0rem;
  }

  h2 {
    font-size: 3.25rem;
  }

  h3 {
    font-size: 2.00rem;
  }

  h4 {
    font-size: 1.35rem;
  }

  h5 {
    font-size: 1.10rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1, .aet-main-header-title {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.0rem;
  }
}
@media (max-width: 767px) {
  h1, .aet-main-header-title {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2.0rem;
  }

  h3 {
    font-size: 1.50rem;
  }

  h4 {
    font-size: 1.30rem;
  }

  h5 {
    font-size: 1.0rem;
  }
}
h1, h2, h3, h4, h5, .aet-main-header-title {
  margin-top: 1.20em;
  margin-bottom: 0.80em;
  line-height: 1.3em;
}

h1 {
  font-weight: 400;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
/************************************************************/
/* CLASSES */
/************************************************************/
.aet-overflow-hidden {
  overflow: hidden;
}

@media (max-width: 767px) {
  .aet-hide-phone {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .aet-hide-tablet {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .aet-hide-small-desktop {
    display: none;
  }
}

@media (min-width: 1200px) {
  .aet-hide-large-desktop {
    display: none;
  }
}

.aet-is-hidden {
  visibility: hidden;
}

.aet-odd .aet-hide-odd {
  display: none;
}
.aet-even .aet-hide-even {
  display: none;
}

/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
/************************************************************/
/* EXTENSIONS */
/************************************************************/
/************************************************************/
/* CLASSES */
/************************************************************/
* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
}

img {
  border: none;
  max-width: 100%;
}
img a > img {
  border: 0px;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin: 16px 0px;
  padding-left: 40px;
}

/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
.aet-main {
  height: 100%;
}

.aet-section {
  padding: 7rem 0 8rem 0;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .aet-section {
    padding: 4rem 0;
  }
}
.aet-section h2 {
  margin-bottom: 1.5em;
  text-align: center;
  color: #333;
}
.aet-section h2:first-child {
  margin-top: -0.15em;
}

.aet-inlay {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .aet-inlay {
    width: 1200px;
  }
  .aet-inlay.aet-inlay-full {
    width: 90%;
    min-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .aet-inlay {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .aet-inlay {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .aet-inlay {
    padding: 0 20px;
  }
}

/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
/************************************************************/
/* CLASSES */
/************************************************************/
.flexbox .aet-row {
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-row.aet-row-vcenter {
  -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
}
.flexbox .aet-row.aet-row-hcenter {
  -ms-flex-pack: center;
      justify-content: center;
}
.flexbox .aet-row.aet-row-small-padding {
  margin: -0.5rem -1rem;
}
.flexbox .aet-row.aet-row-small-padding *[class^="aet-column-"] {
  padding: 0.5rem 1rem;
}
.flexbox .aet-row.aet-row-padding {
  margin: -1rem;
}
.flexbox .aet-row.aet-row-padding *[class^="aet-column-"] {
  padding: 1rem;
}
.flexbox .aet-column-1 {
  -ms-flex: 8.33333%;
      flex: 8.33333%;
  max-width: 8.33333%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-2 {
  -ms-flex: 16.66667%;
      flex: 16.66667%;
  max-width: 16.66667%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-3 {
  -ms-flex: 25%;
      flex: 25%;
  max-width: 25%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-4 {
  -ms-flex: 33.33333%;
      flex: 33.33333%;
  max-width: 33.33333%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-5 {
  -ms-flex: 41.66667%;
      flex: 41.66667%;
  max-width: 41.66667%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-6 {
  -ms-flex: 50%;
      flex: 50%;
  max-width: 50%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-7 {
  -ms-flex: 58.33333%;
      flex: 58.33333%;
  max-width: 58.33333%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-8 {
  -ms-flex: 66.66667%;
      flex: 66.66667%;
  max-width: 66.66667%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-9 {
  -ms-flex: 75%;
      flex: 75%;
  max-width: 75%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-10 {
  -ms-flex: 83.33333%;
      flex: 83.33333%;
  max-width: 83.33333%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-11 {
  -ms-flex: 91.66667%;
      flex: 91.66667%;
  max-width: 91.66667%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-column-12 {
  -ms-flex: 100%;
      flex: 100%;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .aet-grow-0 {
  -ms-flex-positive: 0;
      flex-grow: 0;
}
.flexbox .aet-grow-1 {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.flexbox .aet-grow-2 {
  -ms-flex-positive: 2;
      flex-grow: 2;
}
.flexbox .aet-grow-3 {
  -ms-flex-positive: 3;
      flex-grow: 3;
}
.flexbox .aet-grow-4 {
  -ms-flex-positive: 4;
      flex-grow: 4;
}
.flexbox .aet-order-1 {
  -ms-flex-order: 1;
      order: 1;
}
.flexbox .aet-order-2 {
  -ms-flex-order: 2;
      order: 2;
}
.flexbox .aet-order-3 {
  -ms-flex-order: 3;
      order: 3;
}
.flexbox .aet-order-4 {
  -ms-flex-order: 4;
      order: 4;
}
.flexbox .aet-order-5 {
  -ms-flex-order: 5;
      order: 5;
}
.flexbox .aet-hide {
  display: none;
}
@media (max-width: 767px) {
  .flexbox .aet-column-phone-1 {
    -ms-flex: 8.33333%;
        flex: 8.33333%;
    max-width: 8.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-2 {
    -ms-flex: 16.66667%;
        flex: 16.66667%;
    max-width: 16.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-3 {
    -ms-flex: 25%;
        flex: 25%;
    max-width: 25%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-4 {
    -ms-flex: 33.33333%;
        flex: 33.33333%;
    max-width: 33.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-5 {
    -ms-flex: 41.66667%;
        flex: 41.66667%;
    max-width: 41.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-6 {
    -ms-flex: 50%;
        flex: 50%;
    max-width: 50%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-7 {
    -ms-flex: 58.33333%;
        flex: 58.33333%;
    max-width: 58.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-8 {
    -ms-flex: 66.66667%;
        flex: 66.66667%;
    max-width: 66.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-9 {
    -ms-flex: 75%;
        flex: 75%;
    max-width: 75%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-10 {
    -ms-flex: 83.33333%;
        flex: 83.33333%;
    max-width: 83.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-11 {
    -ms-flex: 91.66667%;
        flex: 91.66667%;
    max-width: 91.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-phone-12 {
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-grow-phone-0 {
    -ms-flex-positive: 0;
        flex-grow: 0;
  }
  .flexbox .aet-grow-phone-1 {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  .flexbox .aet-grow-phone-2 {
    -ms-flex-positive: 2;
        flex-grow: 2;
  }
  .flexbox .aet-grow-phone-3 {
    -ms-flex-positive: 3;
        flex-grow: 3;
  }
  .flexbox .aet-grow-phone-4 {
    -ms-flex-positive: 4;
        flex-grow: 4;
  }
  .flexbox .aet-order-phone-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .flexbox .aet-order-phone-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .flexbox .aet-order-phone-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .flexbox .aet-order-phone-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .flexbox .aet-order-phone-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .flexbox .aet-hide-phone {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .flexbox .aet-column-tablet-1 {
    -ms-flex: 8.33333%;
        flex: 8.33333%;
    max-width: 8.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-2 {
    -ms-flex: 16.66667%;
        flex: 16.66667%;
    max-width: 16.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-3 {
    -ms-flex: 25%;
        flex: 25%;
    max-width: 25%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-4 {
    -ms-flex: 33.33333%;
        flex: 33.33333%;
    max-width: 33.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-5 {
    -ms-flex: 41.66667%;
        flex: 41.66667%;
    max-width: 41.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-6 {
    -ms-flex: 50%;
        flex: 50%;
    max-width: 50%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-7 {
    -ms-flex: 58.33333%;
        flex: 58.33333%;
    max-width: 58.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-8 {
    -ms-flex: 66.66667%;
        flex: 66.66667%;
    max-width: 66.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-9 {
    -ms-flex: 75%;
        flex: 75%;
    max-width: 75%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-10 {
    -ms-flex: 83.33333%;
        flex: 83.33333%;
    max-width: 83.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-11 {
    -ms-flex: 91.66667%;
        flex: 91.66667%;
    max-width: 91.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-tablet-12 {
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-grow-tablet-0 {
    -ms-flex-positive: 0;
        flex-grow: 0;
  }
  .flexbox .aet-grow-tablet-1 {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  .flexbox .aet-grow-tablet-2 {
    -ms-flex-positive: 2;
        flex-grow: 2;
  }
  .flexbox .aet-grow-tablet-3 {
    -ms-flex-positive: 3;
        flex-grow: 3;
  }
  .flexbox .aet-grow-tablet-4 {
    -ms-flex-positive: 4;
        flex-grow: 4;
  }
  .flexbox .aet-order-tablet-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .flexbox .aet-order-tablet-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .flexbox .aet-order-tablet-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .flexbox .aet-order-tablet-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .flexbox .aet-order-tablet-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .flexbox .aet-hide-tablet {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .flexbox .aet-column-small-desktop-1 {
    -ms-flex: 8.33333%;
        flex: 8.33333%;
    max-width: 8.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-2 {
    -ms-flex: 16.66667%;
        flex: 16.66667%;
    max-width: 16.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-3 {
    -ms-flex: 25%;
        flex: 25%;
    max-width: 25%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-4 {
    -ms-flex: 33.33333%;
        flex: 33.33333%;
    max-width: 33.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-5 {
    -ms-flex: 41.66667%;
        flex: 41.66667%;
    max-width: 41.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-6 {
    -ms-flex: 50%;
        flex: 50%;
    max-width: 50%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-7 {
    -ms-flex: 58.33333%;
        flex: 58.33333%;
    max-width: 58.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-8 {
    -ms-flex: 66.66667%;
        flex: 66.66667%;
    max-width: 66.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-9 {
    -ms-flex: 75%;
        flex: 75%;
    max-width: 75%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-10 {
    -ms-flex: 83.33333%;
        flex: 83.33333%;
    max-width: 83.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-11 {
    -ms-flex: 91.66667%;
        flex: 91.66667%;
    max-width: 91.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-small-desktop-12 {
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-grow-small-desktop-0 {
    -ms-flex-positive: 0;
        flex-grow: 0;
  }
  .flexbox .aet-grow-small-desktop-1 {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  .flexbox .aet-grow-small-desktop-2 {
    -ms-flex-positive: 2;
        flex-grow: 2;
  }
  .flexbox .aet-grow-small-desktop-3 {
    -ms-flex-positive: 3;
        flex-grow: 3;
  }
  .flexbox .aet-grow-small-desktop-4 {
    -ms-flex-positive: 4;
        flex-grow: 4;
  }
  .flexbox .aet-order-small-desktop-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .flexbox .aet-order-small-desktop-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .flexbox .aet-order-small-desktop-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .flexbox .aet-order-small-desktop-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .flexbox .aet-order-small-desktop-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .flexbox .aet-hide-small-desktop {
    display: none;
  }
}
@media (min-width: 1200px) {
  .flexbox .aet-column-large-desktop-1 {
    -ms-flex: 8.33333%;
        flex: 8.33333%;
    max-width: 8.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-2 {
    -ms-flex: 16.66667%;
        flex: 16.66667%;
    max-width: 16.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-3 {
    -ms-flex: 25%;
        flex: 25%;
    max-width: 25%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-4 {
    -ms-flex: 33.33333%;
        flex: 33.33333%;
    max-width: 33.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-5 {
    -ms-flex: 41.66667%;
        flex: 41.66667%;
    max-width: 41.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-6 {
    -ms-flex: 50%;
        flex: 50%;
    max-width: 50%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-7 {
    -ms-flex: 58.33333%;
        flex: 58.33333%;
    max-width: 58.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-8 {
    -ms-flex: 66.66667%;
        flex: 66.66667%;
    max-width: 66.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-9 {
    -ms-flex: 75%;
        flex: 75%;
    max-width: 75%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-10 {
    -ms-flex: 83.33333%;
        flex: 83.33333%;
    max-width: 83.33333%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-11 {
    -ms-flex: 91.66667%;
        flex: 91.66667%;
    max-width: 91.66667%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-column-large-desktop-12 {
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .aet-grow-large-desktop-0 {
    -ms-flex-positive: 0;
        flex-grow: 0;
  }
  .flexbox .aet-grow-large-desktop-1 {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  .flexbox .aet-grow-large-desktop-2 {
    -ms-flex-positive: 2;
        flex-grow: 2;
  }
  .flexbox .aet-grow-large-desktop-3 {
    -ms-flex-positive: 3;
        flex-grow: 3;
  }
  .flexbox .aet-grow-large-desktop-4 {
    -ms-flex-positive: 4;
        flex-grow: 4;
  }
  .flexbox .aet-order-large-desktop-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .flexbox .aet-order-large-desktop-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .flexbox .aet-order-large-desktop-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .flexbox .aet-order-large-desktop-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .flexbox .aet-order-large-desktop-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .flexbox .aet-hide-large-desktop {
    display: none;
  }
}
/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
.aet-main-header {
  height: 20rem;
  border-bottom: 10px solid #0066CC;
  background-image: url("images/header_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.aet-main-header-title {
  margin: 0;
  font-family: Jura;
  color: #EDEDED;
}

/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
/************************************************************/
/* VARIABLES */
/************************************************************/
/************************************************************/
/* MIXINS */
/************************************************************/
