// COLORS
$aet-color-black: #333;
$aet-color-white: #FFFFFE;
$aet-color-dark-blue: #000033;
$aet-color-blue: #0066CC;
$aet-color-light-blue: #0099FF;
$aet-color-grey: #EDEDED;

// FONTS
$aet-line-height-body: 1.4em;
$aet-line-height-headings: 1.3em;
